<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  <section th:replace="componentes/tiempo :: interceptor"></section>
  <h1 th:text="${titulo}"></h1>
  <ul>
      <li th:text="'Habilitado: ' + ${usuario.habilitar}"></li>
      <li th:text="'Genero: ' + ${usuario.genero}"></li>
      <li th:text="${usuario.pais.codigo}"></li>
      <li th:text="${usuario.pais.nombre}"></li>
      <li th:text="${usuario.identificador}"></li>
      <li th:text="${usuario.nombre}"></li>
      <li th:text="${usuario.apellido}"></li>
      <li th:text="${usuario.username}"></li>
      <li th:text="${usuario.password}"></li>
      <li th:text="${usuario.email}"></li>
      <li th:text="${usuario.cuenta}"></li>
      <li th:text="${#dates.format(usuario.fechaNacimiento, 'dd/MM/yyyy')}"></li>
      <li th:text="'Valor secreto: ' + ${usuario.valorSecreto}"></li>

  </ul>

  <div>Roles</div>
  <ul>
      <li th:each="role: ${usuario.roles}" th:text="${role.id} + ': ' + ${role.nombre} + ' => ' + ${role.role}"></li>
  </ul>
</body>
</html>